doctype html 
html
  head
    title The Dance School
    block scripts
    block style
  body
    nav#navbar
            ul
                div#logo
                    img(src="/static/img/4.png", alt="")
                    | HDA 
                li #[a(href='/') Home]
                li #[a(href='/') About]
                li #[a(href='/') Services]
                li #[a(href='/') Class Info]
                li #[a(href='/contact') Contact Us]
    block content
    footer#foot
        |Copyright © 2019 DanceSchool.com | All Rights Reserved